@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Permanent+Marker&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    nav {
        height: 5rem;
        width: 100%;
        background: #232323;
    }

    #blogContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }

    .blog {
        height: 27rem;
        width: 32rem;
        margin: 1rem;
        position: relative;
        text-align: center;
        padding: 50px 30px;
        background: #EEEEEE;
        color: #232323;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            p {
                transform: translateY(0);
            }
        }

        h1 {
            font-family: 'Permanent Marker', cursive;

        }

        p {
            font-family: 'Dancing Script', cursive;
            font-size: 1.5rem;
            padding: 1rem;
            transform: translateY(321px);
            transition: transform 5s linear;
        }
    }
}