@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&family=Megrim&family=Overpass&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  background: #e57373;
  color: yellow;
}

.menuActive {
  color: #ffffff;
  -webkit-transform: scale(1) translateX(0px);
          transform: scale(1) translateX(0px);
}

.menuNon {
  color: #232323;
  background: #fff;
  border-radius: 1px;
  -webkit-transform: scale(1.5) translateX(-5px);
          transform: scale(1.5) translateX(-5px);
}

.whiteBody {
  color: #223322;
  background-color: #f5f5f5;
}

.whiteColor {
  color: #fff;
}

body {
  background: #232323;
  color: white;
  font-family: "Overpass", sans-serif;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: inherit;
  padding: 0.5rem;
  position: relative;
  z-index: 999;
}

header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logo img {
  width: 60px;
  border-radius: 50%;
}

header #logo h2 {
  margin-left: 0.5rem;
  color: #c62828;
  font-weight: 600;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  display: block;
  text-align: center;
}

header #menubar {
  position: relative;
  cursor: pointer;
}

header #menubar span {
  font-size: 0.5rem;
  position: absolute;
  right: 9px;
  bottom: 16px;
  z-index: 998;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

header #menubar .far {
  font-size: 2.5rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 999;
}

header #darkmode {
  position: relative;
}

header #darkmode div {
  margin-right: 0.5rem;
  background: linear-gradient(135deg, #3eda82 35%, #378fe6 100%);
  height: 1.3rem;
  width: 2.5rem;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #darkmode div p {
  color: #232323;
  background-color: #232323;
  border-radius: 50%;
  width: 15px;
  -webkit-transform: translateX(23px);
          transform: translateX(23px);
  height: 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

header #navbar {
  display: none;
  width: 100%;
  background: #222222;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

header #navbar li {
  padding: 0.5rem 0;
  text-transform: uppercase;
  -webkit-transition: -webkit-text-decoration 0.3s linear;
  transition: -webkit-text-decoration 0.3s linear;
  transition: text-decoration 0.3s linear;
  transition: text-decoration 0.3s linear, -webkit-text-decoration 0.3s linear;
}

header #navbar li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header #navbar li .navItems {
  color: white;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

#projectSoon {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
}

footer {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 98.34%;
  height: 2.5rem;
}

footer::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
  z-index: -1;
}

footer p i {
  color: #c62828;
}

@media only screen and (min-width: 1024px) {
  header {
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: initial;
  }
  header #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #logo h2 {
    display: none;
  }
  header #logo img {
    width: 60px;
    border-radius: 50%;
  }
  header #menubar {
    display: none;
  }
  header #navbar {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    margin-right: 3rem;
  }
  header #navbar li {
    padding: 0.5rem;
  }
  header #navbar li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  header #navbar li a {
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  header #navbar div {
    bottom: 4px;
    left: 1px;
  }
}
/*# sourceMappingURL=projects.css.map */