// Note: Firstly I have coded styling for mobile devices then added responsivness for bigger devices

// Importing fonts from google fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&family=Megrim&family=Overpass&display=swap");

// ------------------------------------------------------------------
// CSS RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

// Defining variables
$redColor: #c62828;

// Global Style
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

// Classes for JS
.active {
  background: #e57373;
  color: yellow;
}

.menuActive {
  color: #ffffff;
  transform: scale(1) translateX(0px);
}
.menuNon {
  color: #232323;
  background: #fff;
  border-radius: 1px;
  transform: scale(1.5) translateX(-5px);
}
.whiteBody {
  color: #223322;
  background-color: #f5f5f5;
}

.whiteColor {
  color: #fff;
}

// --------------------------------------------------------------------------------
// Styling Start Here
// --------------------------------------------------------------------------------
body {
  background: #232323;
  color: white;
  font-family: "Overpass", sans-serif;
  transition: all 0.3s linear;
}

// Styling header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: inherit;
  padding: 0.5rem;
  position: relative;
  z-index: 999;

  #logo {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      border-radius: 50%;
    }

    h2 {
      margin-left: 0.5rem;
      color: $redColor;
      font-weight: 600;
      transform: translateY(-3px);
      display: block;
      text-align: center;
    }
  }

  #menubar {
    position: relative;
    cursor: pointer;

    span {
      font-size: 0.5rem;
      position: absolute;
      right: 9px;
      bottom: 16px;
      z-index: 998;
      text-transform: uppercase;
      font-weight: bold;
      transition: all 0.3s linear;
    }

    .far {
      font-size: 2.5rem;
      border-radius: 50%;
      transition: all 0.3s linear;
      z-index: 999;
    }
  }

  #darkmode {
    position: relative;
    div {
      margin-right: 0.5rem;
      background: linear-gradient(135deg, hsl(146, 68%, 55%) 35%, hsl(210, 78%, 56%) 100%);
      height: 1.3rem;
      width: 2.5rem;
      border-radius: 10px;
      position: absolute;
      right: 0;
      bottom: 1rem;
      display: flex;
      align-items: center;
      p {
        // padding: .5rem;
        color: #232323;
        background-color: #232323;
        border-radius: 50%;
        width: 15px;
        transform: translateX(23px);
        height: 15px;
        transition: all 0.3s linear;
      }
    }
  }

  #navbar {
    display: none;
    width: 100%;
    background: #222222;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;

    li {
      padding: 0.5rem 0;
      text-transform: uppercase;
      transition: text-decoration 0.3s linear;

      &:hover {
        transform: scale(1.1);
      }

      .navItems {
        color: white;
        transition: background 0.3s linear;
      }
    }
  }
}

#projectSoon {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
}

footer {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 98.34%;
  height: 2.5rem;

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    z-index: -1;
  }

  p {
    i {
      color: $redColor;
    }
  }
}

// ------------------------------------------
// Responsiveness
// ------------------------------------------
@media only screen and (min-width: 1024px) {
  header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: initial;

    #logo {
      display: flex;
      align-items: center;
      h2 {
        display: none;
      }
      img {
        width: 60px;
        border-radius: 50%;
      }
    }

    #menubar {
      display: none;
    }

    #navbar {
      width: auto;
      display: flex;
      position: initial;
      margin-right: 3rem;
      li {
        padding: 0.5rem;

        &:hover {
          transform: scale(1.1);
        }

        a {
          color: white;
          text-transform: uppercase;
          padding: 0.5rem;
          border-radius: 1rem;
        }
      }
      div {
        bottom: 4px;
        left: 1px;
      }
    }
  }
}
