@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&family=Megrim&family=Overpass&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  background: #c62828;
  color: yellow;
}

body {
  background: #232323;
  color: white;
  font-family: "Overpass", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: inherit;
  padding: 0.5rem;
  position: relative;
  z-index: 999;
  -webkit-transition: background 0.6s linear;
  transition: background 0.6s linear;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo img {
  width: 60px;
  border-radius: 50%;
}

#logo h2 {
  margin-left: 0.5rem;
  color: #c62828;
  font-weight: 600;
  font-family: "Anonymous Pro", cursive;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

#menubar {
  position: relative;
  cursor: pointer;
}

#menubar span {
  font-size: 0.5rem;
  position: absolute;
  right: 9px;
  bottom: 14.5px;
  z-index: 998;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#menubar .far {
  font-size: 2.5rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 999;
}

#navbar {
  display: none;
  width: 100%;
  background: #222222;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

#navbar li {
  padding: 0.5rem 0;
  text-transform: uppercase;
  -webkit-transition: -webkit-text-decoration 0.6s linear;
  transition: -webkit-text-decoration 0.6s linear;
  transition: text-decoration 0.6s linear;
  transition: text-decoration 0.6s linear, -webkit-text-decoration 0.6s linear;
}

#navbar li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#navbar li .navItems {
  color: white;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.section {
  padding-left: 5px;
  font-family: "Manrope", sans-serif;
}

.section h2 {
  font-weight: 700;
  color: #c62828;
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  letter-spacing: 0.8px;
}

.section .commingsoon {
  font-size: 3rem;
  font-weight: bold;
}

#homeSec {
  height: 88.61vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#homeSec #myImg {
  width: 12.5rem;
  border: 8px solid white;
  border-radius: 50%;
}

#homeSec #centerText {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

#homeSec::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/aboutSec.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.5;
}

#aboutSec #myEdu h3 {
  color: #c62828;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#aboutSec #myEdu p {
  padding: 0;
}

#aboutSec #myEdu .clg {
  font-weight: bold;
}

#aboutSec #myEdu .stnd {
  padding-bottom: 1rem;
  font-weight: 300;
  font-style: italic;
  font-size: 0.8rem;
}

#aboutSec p {
  padding-left: 5px;
  padding-bottom: 2rem;
}

#aboutSec #aboutPara p:nth-child(2) {
  padding-bottom: 0.9rem;
}

#servicesSec .servicesCards {
  margin: 2rem;
  position: relative;
  text-align: center;
  padding: 50px 30px;
  background: #eeeeee;
  color: #232323;
  border-radius: 5px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#servicesSec .servicesCards:hover .servicesInfo {
  opacity: 1;
  bottom: 0;
}

#servicesSec .servicesCards:hover:hover .fas {
  top: 25%;
}

#servicesSec .servicesCards .fas {
  position: absolute;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  margin-top: -27px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#servicesSec .servicesCards .servicesInfo {
  padding-top: 50px;
  position: relative;
  bottom: -30px;
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.47, 0, 0.75, 0.72) 0s;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.75, 0.72) 0s;
}

#contactSec {
  position: relative;
}

#contactSec #contactForm {
  width: 25rem;
  margin: 0 auto;
  background: #212121;
  color: #eeeeee;
  padding: 0.5rem;
}

#contactSec #contactForm .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5rem;
}

#contactSec #contactForm .form-control label {
  margin-bottom: 0.25rem;
  font-weight: bold;
}

#contactSec #contactForm .form-control input,
#contactSec #contactForm .form-control #msg {
  border: none;
  border: 1px solid #9e9e9e;
  background: none;
  padding: 0.5rem;
  outline: none;
  color: #eeeeee;
}

#contactSec #contactForm .form-control button {
  background: #689f38;
  border: none;
  border-radius: 5px;
  width: 15rem;
  height: 3rem;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2rem;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

#contactSec #contactForm .form-control button:hover {
  cursor: pointer;
}

#socialHandles i {
  padding: 1rem;
  font-size: 2rem;
  color: #eeeeee;
}

#socialHandles i:hover {
  color: #c62828;
}

#socialHandles #socialIcons {
  width: 25rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

#socialHandles #socialIcons div p {
  display: none;
}

footer {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  position: relative;
}

footer::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.45;
  z-index: -1;
}

footer p i {
  color: #c62828;
}

@media only screen and (min-width: 1024px) {
  header {
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: initial;
  }
  header #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #logo img {
    width: 60px;
    border-radius: 50%;
  }
  header #menubar {
    display: none;
  }
  header #navbar {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
  }
  header #navbar li {
    padding: 0.5rem;
  }
  header #navbar li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  header #navbar li a {
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  #aboutPara p {
    padding-right: 2rem;
  }
  #contactSec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1rem;
  }
  #contactSec #contactForm {
    margin: 0;
  }
  #contactSec #socialHandles {
    padding: 1rem;
    background: #212121;
  }
  #contactSec #socialHandles #socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  #contactSec #socialHandles #socialIcons div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contactSec #socialHandles #socialIcons div:hover p {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  #contactSec #socialHandles #socialIcons div a {
    z-index: 100;
  }
  #contactSec #socialHandles #socialIcons div p {
    display: block;
    -webkit-transform: translateX(-216px);
            transform: translateX(-216px);
    -webkit-transition: -webkit-transform 0.6s linear;
    transition: -webkit-transform 0.6s linear;
    transition: transform 0.6s linear;
    transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  }
  #contactSec #socialHandles #socialIcons div i {
    -webkit-transition: -webkit-transform 0.6s linear;
    transition: -webkit-transform 0.6s linear;
    transition: transform 0.6s linear;
    transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  }
  #contactSec #socialHandles #socialIcons div i:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  #cardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #cardContainer .servicesCards {
    width: 20rem;
  }
}

@media screen and (max-width: 375px) {
  html {
    width: 133%;
  }
}

/* Preloader */
.ctn-preloader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

/* Spinner Loading */
.ctn-preloader .animation-preloader .spinner {
  -webkit-animation: spinner 1s infinite linear;
          animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  /* No se identa por orden alfabetico para que no lo sobre-escriba */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

/* Text Loading */
.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em "Montserrat", sans-serif;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  -webkit-animation: letters-loading 4s infinite;
          animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

/* Curtain effect */
.loaded .loader-section.section-left {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

.loaded .loader-section.section-right {
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

/* Animation of the preloader */
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/* Animation of the letters loading from the preloader */
@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

/* Backward laptop size (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
  /* Preloader */
  /* Spinner Loading */
  .ctn-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }
  /* Texto Loading */
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 3.5em "Montserrat", sans-serif;
  }
}

@media screen and (max-width: 500px) {
  /* Prelaoder */
  /* Spinner Loading */
  .ctn-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }
  /* Texto Loading */
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 2em "Montserrat", sans-serif;
  }
}

#qwerty {
  background-color: #232323;
  color: wheat;
  font-size: 6rem;
}
/*# sourceMappingURL=style.css.map */