// Importing fonts from google fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&family=Megrim&family=Overpass&display=swap");

// CSS RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

// Defining variables
$redColor: #c62828;

// Global Style
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

// Class for JS
.active {
  background: $redColor;
  color: yellow;

}

body {
  background: #232323;
  color: white;
  font-family: "Overpass", sans-serif;
}

// Styling header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: inherit;
  padding: 0.5rem;
  position: relative;
  z-index: 999;
  transition: background 0.6s linear;
}

#logo {
  display: flex;
  align-items: center;

  img {
    width: 60px;
    border-radius: 50%;
  }

  h2 {
    margin-left: 0.5rem;
    color: $redColor;
    font-weight: 600;
    font-family: "Megrim", cursive;
    transform: translateY(-3px);
  }
}

#menubar {
  position: relative;
  cursor: pointer;

  span {
    font-size: 0.5rem;
    position: absolute;
    right: 9px;
    bottom: 14.5px;
    z-index: 998;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s linear;
  }

  .far {
    font-size: 2.5rem;
    border-radius: 50%;
    transition: all 0.3s linear;
    z-index: 999;
  }
}

#navbar {
  display: none;
  width: 100%;
  background: #222222;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;

  li {
    padding: 0.5rem 0;
    text-transform: uppercase;
    transition: text-decoration 0.6s linear;

    &:hover {
      transform: scale(1.1);
    }

    .navItems {
      color: white;
      transition: background 0.3s linear;
    }
  }
}

//General Styling of section
.section {
  padding-left: 5px;
  font-family: "Manrope", sans-serif;

  h2 {
    font-weight: 700;
    color: $redColor;
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
    letter-spacing: 0.8px;
  }

  .commingsoon {
    font-size: 3rem;
    font-weight: bold;
  }
}

// Styling section #HomeSec
#homeSec {
  height: 88.61vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  #myImg {
    width: 12.5rem;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 50%;
  }

  #centerText {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/aboutSec.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.5;
  }
}

// Styling section about
#aboutSec {
  #myEdu {
    h3 {
      color: $redColor;
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    p {
      padding: 0;
    }

    .clg {
      font-weight: bold;
    }

    .stnd {
      padding-bottom: 1rem;
      font-weight: 300;
      font-style: italic;
      font-size: 0.8rem;
    }
  }

  p {
    padding-left: 5px;
    padding-bottom: 2rem;
  }

  #aboutPara p:nth-child(2) {
    padding-bottom: 0.9rem;
  }
}

// Styling section services
#servicesSec {
  .servicesCards {
    margin: 2rem;
    position: relative;
    text-align: center;
    padding: 50px 30px;
    background: #eeeeee;
    color: #232323;
    border-radius: 5px;
    transform: scale(0.9);

    &:hover {
      .servicesInfo {
        opacity: 1;
        bottom: 0;
      }

      &:hover .fas {
        top: 25%;
      }
    }

    .fas {
      position: absolute;
      font-size: 2rem;
      width: 100%;
      text-align: center;
      left: 0;
      top: 50%;
      margin-top: -27px;
      transition: all 0.4s;
    }

    .servicesInfo {
      padding-top: 50px;
      position: relative;
      bottom: -30px;
      opacity: 0;
      transition: all 0.2s cubic-bezier(0.47, 0, 0.75, 0.72) 0s;
    }
  }
}

#contactSec {
  position: relative;

  #contactForm {
    width: 25rem;
    margin: 0 auto;
    background: #212121;
    color: #eeeeee;
    padding: 0.5rem;

    .form-control {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      label {
        margin-bottom: 0.25rem;
        font-weight: bold;
      }

      input,
      #msg {
        border: none;
        border: 1px solid #9e9e9e;
        background: none;
        padding: 0.5rem;
        outline: none;
        color: #eeeeee;
      }

      button {
        background: #689f38;
        border: none;
        border-radius: 5px;
        width: 15rem;
        height: 3rem;
        margin: 0 auto;
        font-weight: bold;
        font-size: 2rem;
        transition: transform 0.3s linear;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#socialHandles {
  i {
    padding: 1rem;
    font-size: 2rem;
    color: #eeeeee;

    &:hover {
      color: $redColor;
    }
  }

  #socialIcons {
    div {
      p {
        display: none;
      }
    }

    width: 25rem;
    margin: 0 auto;
    display: flex;
  }
}

footer {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  position: relative;

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.45;
    z-index: -1;
  }

  p {
    i {
      color: $redColor;
    }
  }
}

// Responsiveness

@media only screen and (min-width: 1024px) {
  header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: initial;

    #logo {
      display: flex;
      align-items: center;

      img {
        width: 60px;
        border-radius: 50%;
      }
    }

    #menubar {
      display: none;
    }

    #navbar {
      width: auto;
      display: flex;
      position: initial;

      li {
        padding: 0.5rem;

        &:hover {
          transform: scale(1.1);
        }

        a {
          color: white;
          text-transform: uppercase;
          padding: 0.5rem;
          border-radius: 1rem;
        }
      }
    }
  }

  #aboutPara p {
    padding-right: 2rem;
  }

  #contactSec {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;

    #contactForm {
      margin: 0;
    }

    #socialHandles {
      padding: 1rem;
      background: #212121;

      #socialIcons {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        div {
          display: flex;
          align-items: center;

          &:hover p {
            transform: translateX(2px);
          }

          a {
            z-index: 100;
          }

          p {
            display: block;
            transform: translateX(-216px);
            transition: transform 0.6s linear;
          }

          i {
            transition: transform 0.6s linear;

            &:hover {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {

  //services Sec
  #cardContainer {
    display: flex;
    justify-content: space-around;

    .servicesCards {
      width: 20rem;
    }
  }
}

@media screen and (max-width: 375px) {
  html {
    width: 133%;
  }
}

// ===============================================================
// ===============================================================
// ===============================================================
// Preloader Styling
// ===============================================================
// ===============================================================
// ===============================================================
/* Preloader */
.ctn-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

/* Spinner Loading */
.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  /* No se identa por orden alfabetico para que no lo sobre-escriba */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

/* Text Loading */
.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em "Montserrat", sans-serif;
  text-align: center;
  user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

/* Animation of the preloader */
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

/* Animation of the letters loading from the preloader */
@keyframes letters-loading {

  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* Backward laptop size (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {

  /* Preloader */
  /* Spinner Loading */
  .ctn-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }

  /* Texto Loading */
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 3.5em "Montserrat", sans-serif;
  }
}

@media screen and (max-width: 500px) {

  /* Prelaoder */
  /* Spinner Loading */
  .ctn-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }

  /* Texto Loading */
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 2em "Montserrat", sans-serif;
  }
}

#qwerty {
  background-color: #232323;
  color: wheat;
  font-size: 6rem;
}